<!-- Paso 5: Confirmación de pago (inicialmente oculto) -->
            <div class="step-content" id="confirmation-content">
                <div class="card text-center py-5">
                    <div class="card-body">
                        <div class="success-animation mb-4">
                            <div class="checkmark-circle">
                                <div class="checkmark draw"></div>
                            </div>
                        </div>
                        <h3 class="mb-3">¡Pago hecho!</h3>
                        <p class="mb-4">Gracias por su compra</p>
                        <a href="#" class="btn btn-primary">Volver a la tienda</a>
                    </div>
                </div>
            </div>
        </div>
    </div>