@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutHomeLogin";
}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet"
/>
<link rel="stylesheet" href="~/css/iniciarSesion.css" asp-append-version="true"/>


<main class="login-container">
    <div class="login-card">
        <h1 class="login-title">
            Debes <span class="text-primary">registrarte</span>
        </h1>
        <p class="login-subtitle">Por favor ingrese sus datos</p>

        <div class="login-form">
            <h2 class="form-title">Regístrate</h2>

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-group">
                    <label asp-for="Input.Email" class="form-label">Correo</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Correo" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Password" class="form-label">Contraseña</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Contraseña" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar contraseña</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmar contraseña" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="login-btn">Registrarse <i class="fas fa-arrow-right"></i></button>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
