/* Animación de recarga */
@keyframes cargar {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animacion-recarga {
  animation: cargar 1s ease-in-out;
  display: block;
  opacity: 0;
  transform: scale(0.9);
}
